* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: sans-serif;
}
.app {
  display: flex;
}
.chatUi {
  width: 35%;
  height: 100vh;
  background: rgb(224, 231, 234) ;
}

.chatbot {
  width: 325px;
  border: 8px solid black;
  border-top: 40px solid black;
  border-bottom: 40px solid black;
  border-radius: 20px;
  height: 600px;
  margin: 50px auto;
}

.topNav {
  color: white;
  background-color: #1768d0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  width: 100%;
  /* position: fixed; */
}
.topNav img {
  height: 70px;
  margin-right: 5px;
}
.topNav > div {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin: 5px 0px;
}
.caption {
  margin: 0px;
  font-size: 13px;
}
.clearIcon {
  cursor: pointer;
}
.clearIcon:hover {
  color:rgb(224, 231, 234);
}

/* chat text css */
.chatbot__chat {
  margin: 20px 0px;
}
.chat {
  margin: 0px 16px;
  width: 70%;
  font-size: 13px;
}
.sent {
  float: right;
}
.message {
  background-color: white;
  padding: 16px;
  margin: 5px 0px;
}
.received > .message {
  border-radius: 0% 15px 15px 15px;
}
.sent > .message {
  border-radius: 15px 0px 15px 15px;
  background-color: #1768d0;
  color: white;
}
.time {
  margin: 0px 5px;
  color: grey;
  font-size: 10px;
}
.sent > .time {
  float: right;
}